@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><a asp-controller="Clients" asp-action="One">Отправка</a></h1>
    <h1 class="display-4"><a asp-controller="Clients" asp-action="Two">Получение в реальном времени</a></h1>
    <h1 class="display-4"><a asp-controller="Clients" asp-action="Three">Сообщения за 10 минут</a></h1>
</div>
